# PyCharm files
.idea/workspace.xml
.idea/misc.xml
.idea/modules.xml
.idea/metrics.iml
.idea/shelf/
venv

# Build folders
build
dist
.scannerwork

# Test files
.coverage
coverage.xml
nosetests.xml

# Python egg metadata
*.egg
*.egg-info

# Compiled Python modules
*.pyc

# Miscellaneous
.DS_Store
.ipynb_checkpoints
.idea/inspectionProfiles/Project_Default.xml

# Read the docs outputs
#/docs/rst

bin/cache-directory

data/xcsp19/full_analysis/output/box_by_family.pdf

data/xcsp19/full_analysis/output/box.pdf

data/xcsp19/full_analysis/output/cactus.pdf

data/xcsp19/full_analysis/output/cactus2.pdf

data/xcsp19/full_analysis/output/cdf.pdf

data/xcsp19/full_analysis/output/scatter.pdf
